.o-btn
	display inline-block
	vertical-align middle
	font-size 28px
	font-weight bold
	text-align center
	text-transform uppercase
	cursor pointer
	margin 0
	transition all .2s ease-out
	border none
	border-radius 14px
	line-height 1
	outline none
	padding 15px
	+below($breakpoint-base)
		font-size 20px
	&,
	&:hover,
	&:focus,
	&:active
		text-decoration none
	&--primary
		background-color transparent
		color $btn-color-primary
		border 2px solid $btn-color-primary
		&:hover
			color $black
			border 2px solid $black
	&--hide 
		display none