@@include('../partials/top.html', {
	"controller": "pages",
	"action": "index",
	"title": "Gerador de Shallow Now"
})
<main class="s-grid-justify-center">
	<div class="o-wrapper">
		<h1 class="o-ttl u-text-center js-karaoke"></h1>
		<div class="c-result-container">
			<h3 class="o-ttl u-text-center u-m-y-50" id="texto"></h3>	
		</div>
		<div class="u-text-center u-m-t-50">
			<button class="u-text-center o-btn o-btn--primary o-btn--hide js-btn" id="gerador">Gerar Shallow Now</button>	
		</div>
		
	</div>
	<!-- <embed width="400" height="40" type="audio/midi" src="./assets/audio/shallow.mp3" volume="60" loop="true" autostart="true" />
 -->	
 	<audio controls class="o-audio js-audio" id="audio">
		<source src="./assets/audio/shallow.mp3" type="audio/mpeg">
	</audio>

	<a href="javascript:;" class="c-play js-play">Clique para dar o play</a>
</main>
@@include('../partials/bottom.html')