@@include('../partials/top.html', {
	"controller": "pages",
	"action": "index",
	"title": "Gerador de Shallow Now"
})
<main class="s-grid-justify-center">
	<div class="o-wrapper">
		<h1 class="o-ttl u-text-center">Diga o que te fez sentir saudades,<br/> Bote um ponto final,<br/><br/> Cole de uma vez nossas metades, </h1>
		<h2 class="o-ttl u-text-center">Juntos</h2>
		<div class="c-result-container">
			<h3 class="o-ttl u-text-center u-m-y-50" id="texto"></h3>	
		</div>
		<div class="u-text-center u-m-t-50">
			<button class="u-text-center o-btn o-btn--primary" id="gerador">Gerar Shallow Now</button>	
		</div>
		
	</div>
	
</main>
@@include('../partials/bottom.html')