html
body
	font-size 100%

_:-ms-lang(x), html, body
	overflow-x hidden

::selection
	background $selection-bg-color
	text-shadow none
	color $selection-text-color

h1 
h2 
h3 
h4 
h5
	font-family $font-family-ttl
	color $text-color

html
body
button
input
optgroup
select
textarea
	font-family $font-family-base
	color $text-color
	-webkit-font-smoothing antialiased

audio
canvas
iframe
img
svg
video
	vertical-align middle


